{:source-paths ["src"]
 
 :dependencies [[re-frame "1.3.0"]
                [reagent "1.1.1"]]

 :nrepl {:port 8777}

 :builds {:web {:target     :esm
                :output-dir "build/js"
                :asset-path "/js"
                :modules    {:main {:init-fn app.core/main}}
                :compiler-options {:output-feature-set :es-next}
                :js-options {:entry-keys ["module" "browser" "main"]}
                :dev {:closure-defines {re-frame.trace.trace-enabled? true}}
                :release {:js-options
                          {:resolve {"react" {:target :npm
                                              :require "preact/compat"}
                                     "react-dom" {:target :npm
                                                  :require "preact/compat"}}}}
                :devtools   {:http-root  "build"
                             :http-port  5000
                             :after-load app.core/reload}}}}
